.StarShipCard{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 180px;
    border-radius: 10px;
    margin: 10px;
    background-color:var(--primary-color);
    color: white;
  }

  .cardtitle{
     border-bottom: 1px solid var(--secondary-color); 
  }